-f .git/tags
--recurse=yes
--exclude=.git
--exclude=node_modules/*
--exclude=db/*
--exclude=log/*
--exclude="*/_*cache/*"
--exclude="*/_*logs{0,1}/*"
--exclude="*/_*data/*"
--fields=+laimS
--languages=php
--totals=yes
--tag-relative=yes
--PHP-kinds=+cfit-va
--tag-relative=yes
--regex-PHP=/abstract class ([^ ]*)/\1/c/
--regex-PHP=/interface ([^ ]*)/\1/c/
--regex-PHP=/trait ([^ ]*)/\1/c/
--regex-PHP=/(public |static |abstract |protected |private )+ function +([^ \(]*)/\2/f/
--regex-php=/^[ \t]*trait[ \t]+([a-z0_9_]+)/\1/t,traits/i
